@font-face {
    font-family: dosFont;
    src: url('../fonts/Perfect DOS VGA 437.ttf');
}

body {
    background-color: #004164;
    border-collapse: separate;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: dosFont;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}
table {
    border: 1px solid #66ffff;
    max-width: 800px;
    width: 100%;
    border: 3px solid #66ffff;
}

tr {
    border-style: groove;
}

td, th {
    border-left: 3px solid #66ffff;
    border-style: none;
}


th {
    color: #ffff00;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    font-size: 32px;
    ;
}

td {
    color: #66ffff;
    text-align: center;
    font-size: 18px;
}


td.left {
    text-align: left;
    padding-left: 3px;
}

td.right {
    text-align: right;
    padding-right: 3px;
    border-left: none;
}

h3 {
    margin-top: 90px;
    color: #080808;
    font-size: 20px;
    background-color: #008080;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: #ffff00;
}

a:focus {
    text-decoration: none;
    background-color: white;
    color: #ffff00;
}

.table :hover, .navbar :hover {
    color: black;
}

.wrap {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    padding: 0;
    max-width: 1170px;
    width: 100%;
}

#folder-div, #file-div{
    display: block;
    padding: 5px;
}

.folder-div-wrap, .file-div-wrap {
    background-color: #004164;
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #66ffff;
    font-size: 18px;
}

.label {
    color: #66ffff;
    font-size: 100%;
}

.btn-custom {
    color: #080808;
    font-size: 20px;
    background-color: #008080;
}

.slide-btn {
    margin: 1px 0 3px;
}

.btn-add-folder, .btn-add-file{
    /*padding-top: 5px;*/
}